<% if(req.cookies.User){ %>
<div>
</div>
<%}else{%>
<div class="alert alert-warning">
    <strong>Aviso!</strong> Debes autenticarte para acceder al sistema.
  </div>
<%}%>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><h5>EPN SEARCH</h5></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="dropdown">
        <a class="nav-link" data-toggle="dropdown" href="/busqueda"><h5>Búsqueda</h5> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="nav-item active"><a class="nav-link" href="/busqueda">DOAJ</a></li>
          <li class="nav-item active"><a class="nav-link"  href="/busquedaSpringer">Springer</a></li>
          <li class="nav-item active"><a class="nav-link" href="/busquedaArxiv">Arxiv</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="nav-link" data-toggle="dropdown" href="/bibliotecaUser"><h5>Biblioteca</h5> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="nav-item active"><a class="nav-link" href="/bibliotecaUser">Biblioteca</a></li>
          <li class="nav-item active"><a class="nav-link"  href="/mibiblioteca">Añadidos por mí</a></li>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/AnadirArticulos"><h5>Añadir artículos </h5></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/logout"><h5>Salir </h5></a>
      </li>
    </ul>
  </div>
</nav>

